doctype html
html(lang='it')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css?family=Creepster', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=IM+Fell+English:400,400i', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/style/style.css')
    title=title
  body#loginBody
    .row
      div.box
        h2 SpazioPC proudly presents
        h1.title Half-Pumpkin 3
        h3 – Tactical Pointing Clicker - A SpazioPC Game –
        .description
          p
            | Giveaway potenti, vi invochiamo
            br
            | Vegliate su di noi che stanotte clicchiamo
            br
            | Volti alla luna, alta la fronte
            br
            | Le zucche di Gabe a danzar son pronte...
        .steamlogin
          h3 Accedi con Steam per cominciare!
          a(href='/auth/steam')
            img(src='/img/loginbutton.png', alt='')
